.card_body {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    height: 10rem;
    border-bottom: 4px solid #f4f6f8;
}
.card_body_left {
    text-align: center;
    width: 20%;
    margin-right: 2rem;
}
.card_body_right {
    width: 80%;
    font-size: 1.4rem;
    margin: auto;
}
.card_body_img {
    padding: 1rem;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.card_body_right .topic_title:hover {
    text-decoration: underline;
}