.detail_card {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 2rem;
}
.detail_card .topic_title {
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0;
    font-weight: bold ;
}
.detail_card .topic_img_container {
    margin: 0 auto;
    width: 70%;
}
.detail_card .topic_img_container .topic_img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}
.detail_card .topic_summary {
    font-size: 1.5rem;
}
.detail_card .news_container {
    margin-top: 2rem;
    font-size: 1.5rem;
}
.detail_card .news_container .news {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.detail_card .news_container .news_title {
    cursor: pointer;
}
.detail_card .news_container .news .news_title:hover {
    text-decoration: underline;
}