.header_bottom {
    border-bottom: 1.5px solid #eeeeee;
}
.header_bottom .header_bottom_inner {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    line-height: 3rem;
    height: 3rem;
    font-size: 1.1rem;

}
.header_bottom .header_bottom_inner .header_bottom_card {
    margin-right: 2rem;
    cursor: pointer;
}
.header_bottom .header_bottom_inner .header_bottom_card:first-child {
    margin-left: 10px;
}
.header_bottom .header_bottom_inner .select {
    color: var(--maincolor);
    border-bottom: var(--maincolor) 1px solid;
}